@font-face {
  font-family: 'Open-sans';
  src: url(/Fonts/open-sans-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Open-sans';
  src: url(/Fonts/open-sans-extrabold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Open-sans';
  src: url(/Fonts/open-sans-bold2.ttf);
  font-weight: 700;
}

html{
  width: 1920px;
  height: 3850px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open-sans';
  font-size: 16px;
  line-height: 18px;
  color:#fff;
  margin: ;
  width: ;
}

.header-nav {
  list-style-type: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  width: 411px;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-left: 754px;
  margin-right: 755px;
}

.header-art {
  text-decoration: none;
  font-weight: 600;
  color: #3A68B8;
  font-size: 23px;
  line-height: 31px;
  width: 224px;
  margin-top: 36px;
  margin-left: 403px;
}

.header-nav a {
  text-decoration: none;
  color:#fff;
  text-transform: capitalize;
  margin-right: 40px;
}

.section3-headline {
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
  opacity: 70%;
}

.section3-text, .section2-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  opacity: 70%;
}

.section1 {
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
}

.section1-text{
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  opacity: 70%;
  width: 558px;
  margin-left: 388px;
  margin-right: 975px;
  margin-bottom: 50px;
}

.main-heading{
  font-weight: 700;
  font-size: 55px;
  line-height: 72px;
  width: 604px;
  margin-right: 929px;
  margin-left: 388px;
  margin-bottom: 40px;
}

.section1-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #3A68B8;
  text-transform: uppercase;
  line-height: 29px;
  width: 265px;
  margin-top: 160px;
  margin-left: 388px;
  margin-bottom: 10px;
  margin-right: 1268px;
}

.section1-listofpics{
  list-style-type: none;
  margin-top: 215px;
  margin-left: 388px;
  display: flex;
  flex-direction: row;
}

.section-listofpics a {
  padding-right: 72px;
}

.section1-buttons{
  text-decoration: none;
  color: #fff;
  text-transform: initial;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-left: 448px;
  margin-top: 65px;
}

.section2-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.section2-link{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  line-height: 22px;
}

.footer-subtitle {
  color: #3A68B8;
  font-weight: 00;
  font-size: 16px;
  line-height: 22px;
}

.footer {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.footer-text{
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  opacity: 60%;
}

.footer a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
  opacity: 60%;
}

.footer li {
  list-style-type: none;
}

.footer .footer-heads {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  line-height: 20px;
  opacity: 100%;
}
